<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <title>Outbound - Spartacus - Programa del agente</title>
   <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="css/styleResp.css">
   <link rel="stylesheet" href="css/stylefonts.css">
   <link rel="stylesheet" href="css/altacita2.css">
   <script src="release/SIPml-api.js" type="text/javascript"> </script>
   <link rel="stylesheet" type="text/css" href="css/datatables/datatables.min.css" />
</head>

<body class="text-center bg-secondary position-absolute h-100 col-12 px-0" style="display: none;">
   <input type="hidden" value="OBD" id="AREAINICIADA_">
   <div class="container-fluid px-0">
      <nav class="navbar navbar-dark bg-dark">
         <div class="d-flex ">
            <div class="dropdown">
               <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="icon-user"></span>
               </a>
               <div class="dropdown-menu  pb-0" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal">Solicitar
                     recesos</a>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalConfiguracion"><span
                        class="icon-cogs pr-1"></span>Configuración </a>
                  <a onclick="cerrarSesion()" class="dropdown-item text-danger pb-2" href="#"><span
                        class="icon-switch pr-1"></span> Cerrar sesión</a>
                  <div class="dropdown-item pb-2"  id="version"></div>
                  

                  
               </div>
            </div>
            <button onclick="modulosToggle()" type="button" class="btn btn-secondary float-rigth mx-2 "><span
                  class="icon-menu"></span></button>
            <button onclick="abrirCorreo()" type="button" class="btn float-rigth"
               style="background-color: #20c997; border-color: #20c997; color:#fff"><span
                  class="icon-envelop"></span></button>
          <!--<   <button type="button" class="btn btn-dark float-rigth mx-1" style="background-color: #7D3C98;"
               data-whatever='SMS' data-numero='' data-toggle="modal" data-target="#modalSMS">SMS</button>
            <button id="verRespuestasTipoP" data-toggle="modal" data-target="#modalRespuestas" type="button"
               class="btn btn-warning float-rigth ml-2"><span class="icon-quotes-right"></span></button>-->
            <button onclick="cerrarVentana()" type="button" class="btn btn-danger float-rigth mx-2"><span
                  class="icon-home"></span></button> 
            <button type="button" class="btn btn-dark float-rigth mx-1" style="background-color: #7D3C98;"
               data-whatever='SMS' data-numero='' data-toggle="modal" data-target="#modalSMS">SMS</button>
            <button id="btnCita" onclick="abrirAltaCita()" title="Citas" type="button"
               class="btn btn-light float-rigth mx-2"><span class="icon-calendar"></span></button>
            <button onclick="verPantallaCRM()" type="button" title="Abrir CRM"
               class="btn btn-light float-rigth mx-2"><span class="icon-folder-open"></span></button>
               <button id="btnLocalizacion" onclick="pitarLocalizacion()" title="Horarios y Ubicaciones" type="button"
               class="btn btn-light float-rigth mx-2"><span class="icon-location2"></span></button>

            <div id="alertPrincipal" class="alert alert-primary mb-0 px-3 py-1" role="alert" style="display: none;"> Se
               autorizo tu receso...!</div>
            <!--<button onclick="abrirBuscarCliente()" type="button" class="btn btn-danger float-rigth mx-1"><span class="icon-home"></span></button>-->
         </div>


         <div class="float-rigth text-white">
            <div id="circulo_estatus" class="circulo_estatus float-left mr-3"></div>
            <div class="float-left" id="usuario">Usuario</div>
            <div class="col" id="usuario_">Llamadas de salida (Outbound <span id="server_" style="color:#ffc107"></span>)</div>
         </div>
         <img src="img/logoTipo.png" alt="" style="width: 275px;">
      </nav>
   </div>
   <div class="bg-light position-relative d-flex" style="height: calc(100% - 72px); width: 100%;">
      <div id="modulosCont" class="col-3 float-left bg-secondary h-100" style="overflow-y: scroll; display: none;">
         <div class="input-group my-3">
            <div class="input-group-prepend">
               <label style="font-size: smaller;" class="input-group-text" for="comboPerfil">Perfil</label>
            </div>
            <select onchange="cambioPerfil()" style="font-size: smaller;" class="custom-select"
               id="comboPerfil"></select>
         </div>
         <div class="input-group mb-3">
            <div class="input-group-prepend">
               <label style="font-size: smaller;" class="input-group-text" for="comboPerfil">Modulos</label>
            </div>
            <select onchange="cambioModulo()" style="font-size: smaller;" class="custom-select"
               id="comboModulos"></select>
         </div>
         <div class="accordion" id="accordionModulos">
         </div>
      </div>
      <div class="col d-none  float-left bg-light h-100 px-0 position-relative" id="divOpen">
      </div>
      <div class="col d-none float-left bg-light h-100 px-0 position-relative" id="divOpen2">
      </div>
      <div class="col d-flex  float-left bg-light h-100 px-0 position-relative" id="divLlamada">
         <div id="displayTipificacion" style="overflow: hidden;display:none"
            class="col-5 float-left text-center text-white pt-0 px-0"></div>
            <div class="col-4 px-0 float-left " id="altadecitaContenedor" style="display: none;">
            </div>
            <div id="displayCliente" class="col-4 float-left text-center text-white pt-3"
            style="background: #00000091;overflow-y: scroll;">
            <h2>Persona</h2>
            <ul class="list-group mb-3 text-left">
               <li class="list-group-item transparente datoCliente">Folio de la persona: <span class="text-white"
                     id="idCliente"></span></li>
               <li class="list-group-item transparente datoCliente">Nombre: <span class="text-white"
                     id="nombreCliente"></span></li>
               <li class="list-group-item transparente datoCliente">Id Campaña: <span class="text-white"
                     id="idCampana"></span></li>
               <li class="list-group-item transparente datoCliente">Nombre Campaña <span class="text-white"
                     id="nombreCampana"></span></li>
               <li id="observacionesProgramaAgente" class="list-group-item transparente datoCliente">Observaciones:
                  <textarea rows="4" class=" text-left custom-select form-control" id="observaciones">
                  </textarea>
               </li>
               <li class="list-group-item transparente datoCliente">Contacto:
                  <select onchange="cambioEstatus()" class="custom-select form-control" id="tipificacionEstatus">
                  </select>
               </li>
               <li class="list-group-item transparente datoCliente">Tipificacion:
                  <select class="custom-select form-control" id="tipificacionCombo">
                  </select>
               </li>
               <li class="list-group-item transparente datoCliente">
                  <button onclick="guardarEstatusTipificacion()" type="button"
                     class="btn col-12 btn-info">Guardar</button>
               </li>
               <li class="list-group-item transparente datoCliente">
                  <button onclick="tipificacion()" type="button" class="btn col-12 btn-dark">Formulario</button>
               </li>
            </ul>
         </div>
         <div id="displayLlamada" style="display: none;overflow-y: scroll;"
            class="col float-left text-center text-white pt-3 px-0 ">
            <div id="txtCallStatus" class="text-white text-center" style="font-size: 20px;"></div>
            <div id="tiempoEnLlamada" class="text-white mb-2" style="font-size: 20px;"></div>
            <!-- <img id="imgUser" src="img/llamadaUser.png" class="mt-5" style="margin-left: 27px; width: 126px;"> -->
            <div id="numeroRemoto" class="text-white mt-3" style="font-size: 30px;"></div>
            <div id="nombreClienteCall" class="text-white mt-1" style="font-size: 25px;"></div>
            <div id="horaLlamada" class="text-white mb-2" style="font-size: 20px;"></div>
            <div id="idLlamada" class="text-white" style="font-size: 20px;"></div>
            <button type="button"  id="btnRecuperarDatosLlamada" onclick="recuperarDatosLlamada()" class="btn btn-info">Recuperar datos de llamada</button>
            <div id="navegacionIvr" class="text-white" style="font-size: 20px;"></div>
            <div class="col-8 col-md-6 col-lg-4 mx-auto d-flex justify-content-around px-3 pt-5">
               <div onclick="sipToggleMute();" id="btnMute" class="boton360 float-right text-white bg-secondary"><img
                     src="img/mic.png" style="width: 30px;margin: 0 auto;"></div>
               <div id="btnMute2" class="boton360 float-right text-white bg-secondary" style="display: none;">
                  <div style="width: 30px;margin: 0 auto;"></div>
               </div>
               <div title="Tipificar" onclick="tipificacion()" class="boton360 text-white bg-dark"><span
                     class="icon-tree mx-auto"></span></div>
               <div title="Buscar cliente" onclick="abrirBuscarCliente()" id="btnBuscarClienteOut"
                  class="boton360 text-white bg-info" style="display: none;"><span class="icon-search mx-auto"></span>
               </div>
               
            </div>
            <div class="col-8 col-md-6 col-lg-4  mx-auto d-flex justify-content-around px-5 pt-2">

               <div id="btnVerTeclado" onclick="pintarTecladoEnLlamada()"
               class="boton360 float-right text-white bg-secondary"><img src="img/keypad.png"
                  style="width: 30px;margin: 0 auto;"></div>
                  <div id="BTNRAPIDA" title="Salud" onclick="sipTransferRapido()"
                  class="boton360 float-right text-white bg-secondary"><span class="icon-arrow-right"></span></div>


            </div>
            <div class="col-8 col-md-6 col-lg-4  mx-auto d-flex justify-content-around px-5 pt-2">
               <div title="Colgar" id="btnHangUp" style="display: none;" onclick="sipHangUp('Agente');"
                  class="boton360 float-right text-white bg-danger"><span class="icon-phone-hang-up mx-auto"></span>
               </div>
            </div>
            <div id="teclado_" class="mx-auto d-none flex-wrap" style="width: 350px;">
               <div class="col-12" style="padding: 5px;"><input id="numeroMarcar_" class="inputNumero" type="text">
               </div>
               <div onclick="marcar('1')" class="numeroMarcador2  col-4">
                  <div>1</div>
               </div>
               <div onclick="marcar('2')" class="numeroMarcador2  col-4">
                  <div>2</div>
               </div>
               <div onclick="marcar('3')" class="numeroMarcador2  col-4">
                  <div>3</div>
               </div>
               <div onclick="marcar('4')" class="numeroMarcador2  col-4">
                  <div>4</div>
               </div>
               <div onclick="marcar('5')" class="numeroMarcador2  col-4">
                  <div>5</div>
               </div>
               <div onclick="marcar('6')" class="numeroMarcador2  col-4">
                  <div>6</div>
               </div>
               <div onclick="marcar('7')" class="numeroMarcador2  col-4">
                  <div>7</div>
               </div>
               <div onclick="marcar('8')" class="numeroMarcador2  col-4">
                  <div>8</div>
               </div>
               <div onclick="marcar('9')" class="numeroMarcador2  col-4">
                  <div>9</div>
               </div>
               <div onclick="marcar('*')" class="numeroMarcador2  col-4">
                  <div>*</div>
               </div>
               <div onclick="marcar('0')" class="numeroMarcador2  col-4">
                  <div>0</div>
               </div>
               <div onclick="marcar('#')" class="numeroMarcador2  col-4">
                  <div>#</div>
               </div>
               <div onclick="clearMarcador()" class="numeroMarcador  col-4">
                  <div style="background: #797d80;"><span class="icon-checkbox-unchecked"></span></div>
               </div>
               <div onclick="sipTransfer()" class="numeroMarcador  col-4">
                  <div class="bg-info"><span class="icon-forward"></span></div>
               </div>
               <div onclick="backspace()" class="numeroMarcador  col-4">
                  <div style="background: #797d80;"><span class="icon-arrow-left2"></span></div>
               </div>
            </div>
         </div>

         <div id="displayUsuario" style="overflow-y: scroll;" class="col float-left text-center text-white pt-3 px-0">
            <div id="txtRegStatus" class="text-white text-center" style="font-size: 20px;"></div>
            <img id="imgUser" src="img/agente.png" class="mt-5" style="width: 200px;">
            <div class="d-flex col-8 mx-auto px-0 flex-wrap">
               <div id="canalesLLammadas" class="col-12 py2" style="font-size: 24px;">Canales</div>
               <div id="eventoLlamada" class="col-12 py2" style="font-size: 24px;">Eventos</div>
            </div>
            <ul class="list-group mb-3 col-8 mx-auto text-left">
               <li id="nombreAgente" class="list-group-item transparente2"></li>
               <li id="campanaAgente" class="list-group-item transparente2"></li>
               <li id="extAgente" class="list-group-item transparente2"></li>
               <li id="supervisorAgente" class="list-group-item transparente2"></li>
            </ul>
            <div id="teclado_out" class="mx-auto d-none flex-wrap" style="width: 350px;">
               <div class="col-12" style="padding: 5px;"><input id="numeroMarcar_out"  oninput="maxLengthCheck(this)" class="inputNumero"  maxlength="10" type="number">
               </div>
               <div onclick="marcar_out('1')" class="numeroMarcador2  col-4">
                  <div>1</div>
               </div>
               <div onclick="marcar_out('2')" class="numeroMarcador2  col-4">
                  <div>2</div>
               </div>
               <div onclick="marcar_out('3')" class="numeroMarcador2  col-4">
                  <div>3</div>
               </div>
               <div onclick="marcar_out('4')" class="numeroMarcador2  col-4">
                  <div>4</div>
               </div>
               <div onclick="marcar_out('5')" class="numeroMarcador2  col-4">
                  <div>5</div>
               </div>
               <div onclick="marcar_out('6')" class="numeroMarcador2  col-4">
                  <div>6</div>
               </div>
               <div onclick="marcar_out('7')" class="numeroMarcador2  col-4">
                  <div>7</div>
               </div>
               <div onclick="marcar_out('8')" class="numeroMarcador2  col-4">
                  <div>8</div>
               </div>
               <div onclick="marcar_out('9')" class="numeroMarcador2  col-4">
                  <div>9</div>
               </div>
               <div onclick="marcar_out('*')" class="numeroMarcador2  col-4">
                  <div>*</div>
               </div>
               <div onclick="marcar_out('0')" class="numeroMarcador2  col-4">
                  <div>0</div>
               </div>
               <div onclick="marcar_out('#')" class="numeroMarcador2  col-4">
                  <div>#</div>
               </div>
               <div onclick="clearMarcador_out()" class="numeroMarcador  col-4">
                  <div style="background: #797d80;"><span class="icon-checkbox-unchecked"></span></div>
               </div>
               <div onclick="sipMarcar()" class="numeroMarcador  col-4">
                  <div class="bg-info"><span class="icon-forward"></span></div>
               </div>
               <div onclick="backspace_out()" class="numeroMarcador  col-4">
                  <div style="background: #797d80;"><span class="icon-arrow-left2"></span></div>
               </div>
            </div>
         </div>

         <div id="marcadorSide" class="h-100" style="background: #00000091; position: relative;">
            <div id="marcadorSide-etiqueta3" class="bg-secondary" onclick="mostrarChats()"
               style="cursor: pointer; padding: 8px 0px; font-size: 33px; position: absolute; width: 40px; height: auto; left: -40px; top: 2px; border-radius: 20px 0px 0px 20px;">
            </div>
            <div style="height: calc(100% );background: #00000091;  color: #000; text-align: left; width: 400px; "
               id="chats">
               <ul class="list-group" id="listaContactos" style="overflow-y: scroll; height: calc(100%);color: white;">
               </ul>
            </div>
         </div>


         <!--
         <div id="displayUsuario" style="overflow-y: scroll;" class="col float-left text-center text-white  px-0">
            <div class="col-12 d-flex h-100 px-0">
               <div class="col pt-3 px-0">
                  <div id="txtRegStatus" class="text-white text-center" style="font-size: 20px;"></div>
                  <img id="imgUser" src="img/agente.png" class="mt-5" style="width: 200px;">
                  <div class="d-flex col-10 mx-auto px-0 flex-wrap">
                     <div id="canalesLLammadas" class="col-12 py2" style="font-size: 24px;">Canales</div>
                  </div>
                  <ul class="list-group mb-3 col-10 mx-auto text-left">
                     <li id="nombreAgente" class="list-group-item transparente2"></li>
                     <li id="campanaAgente" class="list-group-item transparente2"></li>
                     <li id="extAgente" class="list-group-item transparente2"></li>
                     <li id="supervisorAgente" class="list-group-item transparente2"></li>
                  </ul>
               </div>
               <div id="marcadorSide" class="h-100" style="background: #00000091; position: relative;">
                  <div id="marcadorSide-etiqueta3" class="bg-secondary" onclick="mostrarChats()" style="cursor: pointer; padding: 8px 0px; font-size: 33px; position: absolute; width: 40px; height:auto; left: -40px; top:0px; border-radius: 20px 0px 0px 20px;">
                     
                  </div>
                  <div style="width: 400px;height: 100%; overflow-y: scroll;" id="chats" >
                     <ul class="list-group" id="listaContactos" style="color: white;"> 
                     </ul>
                  </div> 
               </div>
            </div>
         </div>
         -->
         <!--<div id="displayTipificacion" style="overflow-y: scroll;display:none" class="col float-left text-center text-white pt-0 px-0"></div>-->
         <div id="elertDescone"
            style="position: absolute;position:absolute;background-color: #ff0000b5;width: 100%;height: 27%;margin-top: 17%;display: none;">
            <div class="col-12 d-flex px-0 mb-3">
               <div class="col-3 float-left px-0">
                  <div style="font-size: 20px;text-align: initial;margin-left: 24PX;color: #dec5c5;">
                     <strong>Aviso.</strong> Desconexión de la red.</div>
               </div>
               <div class="col-4 float-left px-0">
                  <div class="text-white" style="font-size: 40px;TEXT-ALIGN: end;margin-top: 12%;"><i>Reconectando
                        en...</i></div>
               </div>
               <div class="col-1 float-left px-0">
                  <div id="segDesc" class="text-white text-center"
                     style="font-size: 180px;text-align: initial;margin-top: -44px;">5</div>
               </div>
               <div class="col-4 float-left col-lg-5 ">
                  <div style="font-size: 30px;position: absolute;bottom: 10%;right: 23%;"><input type="button"
                        value="Reconexión" onclick="reoconexionDIrecta()"
                        style="border-radius: 11px;width: 208px;color: white;background: #a01b1b;border-color: #d0171700;">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="mydiv" class="card float-right d-none" style="width: 18rem;">
         <div id="mydivheader" class="card-header bg-dark text-white">
            Llamada en curso
         </div>
         <div class="card-body">
            <h6 id="txtCallStatus_" class="card-subtitle mb-2 text-muted"></h6>
            <img src="img/llamadaUser2.png" style="width: 100px; height: 100px; margin-right: -17px;">
            <h5 id="numeroRemoto_" class="card-title"></h5>
            <h6 id="tiempoEnLlamada_" class="card-subtitle mb-2 text-muted">00:00:00</h6>
            <p id="idLlamada_" class="card-text"></p>
            <a id="btnMute_" onclick="sipToggleMute()" href="#" class="btn btn-dark"><img src="img/mic.png"
                  style="width: 20px"></a>
            <a onclick="cerrarVentana();" href="#" class="btn btn-dark"><span class="icon-enlarge"></span></a>
            <a onclick="sipHangUp();" href="#" class="btn btn-danger col-12 my-3"><span
                  class="icon-phone-hang-up mx-auto"></span></a>
         </div>
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content bg-dark">
               <div class="modal-header bg-dark text-white">
                  <h5 class="modal-title" id="exampleModalLabel">Recesos</h5>
                  <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body bg-white ">
                  <div class="alert alert-success" id="success-alert" style="display: none;"></div>
                  <div class="col-12 d-flex px-0 mb-3">
                     <div class="col-6 float-left px-0">
                        <ul class="list-group">
                           <li id="recesoAcomulado" class="list-group-item list-group-item-info">Receso acumulado:
                              00:00:00</li>
                           <li id="tiempoEfectivo" class="list-group-item">Tiempo acumulado: 00:00:00</li>
                        </ul>
                     </div>
                     <div class="col-6 float-left px-0">
                        <ul class="list-group">
                           <li id="ingresoSistema" class="list-group-item">Ingreso al sistema: 00:00:00</li>
                           <li id="tiempoSesion" class="list-group-item list-group-item-info">Tiempo en sesion: <br>
                              00:00:00</li>
                        </ul>
                     </div>
                  </div>
                  <div class="input-group my-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Solicitar un receso:</span>
                     </div>
                     <select class="custom-select" id="inputGroupSelect04"
                        aria-label="Example select with button addon">
                     </select>
                     <div class="input-group-append">
                        <button class="btn btn-outline-success" id="solicitarRec" type="button"
                           onclick="solicitarReceso()">Solicitar</button>
                        <button class="btn btn-outline-success" id="btnTomarRec" type="button" onclick="tomarReceso()"
                           style="display: none;">Tomar</button>
                     </div>
                  </div>
                  <div id="listaMovi" class="list-group" style="overflow-y: scroll;height: 200px;">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="pausaModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-body">
                  <div class="jumbotron text-center">
                     <h2 class="display-4"> <i class="fas fa-stopwatch"></i></h2>
                     <h1 id="tituloPausa" class="h3">Agente en: Capacitación</h1>
                     <p class="lead"></p>
                     <hr class="my-4">
                     <p>Tiempo en receso:</p>
                     <div class="font-weight-bolder text-success pb-3"><span id="tiempoPausa"
                           style="font-size: 25px">00:00:00</span> </div>
                     <button id="btnTerminarReceso" type="button" class="btn btn-success btn-lg">Terminar
                        receso</button>
                     <div class="loader" style="display: none;">
                        <div class=" spinner-grow text-light" role="status">
                           <span class="sr-only">Loading...</span>
                        </div>
                        <div class=" spinner-grow text-dark" role="status">
                           <span class="sr-only">Loading...</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="modal fade" id="confirmarCambio" tabindex="-1" role="dialog" aria-labelledby="tituloCambiarCanal"
         aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="tituloCambiarCanal"></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body text-left">
                  ¿Esta seguro de cambiar de canal de atención?
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button id="btnSiCambiar" type="button" class="btn btn-danger">Sí, cambiarme de canal</button>
               </div>
            </div>
         </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="modalRespuestas" tabindex="-1" role="dialog" aria-labelledby="modalRespuestasLabel"
         aria-hidden="true">
         <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="modalRespuestasLabel">Respuestas tipo pregunta</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div class="col-12 d-flex px-0">
                     <div class="input-group mb-3 col-6">
                        <div class="input-group-prepend">
                           <span class="input-group-text">Tipo</span>
                        </div>
                        <select onchange="filtrarRespuestas()" class="custom-select" id="selectRespTipo">
                        </select>
                     </div>
                     <div class="input-group mb-3 col-6">
                        <div class="input-group-prepend">
                           <span class="input-group-text">Pregunta</span>
                        </div>
                        <input onkeyup="filtrarRespuestas()" type="text" class="form-control" id="inputBuscarResp"
                           placeholder="Escriba para buscar...">
                     </div>
                  </div>
                  <div class="col-6 float-left">
                     <ul class="list-group text-left" id="listRespuestas" style="height: 400px;overflow-y: scroll;">

                     </ul>
                  </div>
                  <div class="col-6 float-left">
                     <div class="card" style="height: 400px;">
                        <div class="card-body">
                           <h5 id="preguntaTitulo" class="card-title"></h5>
                           <p style="font-size: 30px; text-align: justify;     overflow-y: scroll;height: calc(100% - 50px);"
                              id="respuestaText" class="card-text text-danger"></p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
               </div>
            </div>
         </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalNavidad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
         <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body w-100">
                  <img class="w-100" src="img/navidad.jpg" alt="">
               </div>
            </div>
         </div>
      </div>



      <!-- Modal -->
      <div class="modal fade" id="modalSMS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         data-backdrop="static" data-keyboard="false" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header bg-dark text-white">
                  <h5 class="modal-title" id="exampleModalLabel">SMS</h5>
                  <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body text-left">
                  <div id="tipificacionSMS">

                  </div>

                  <div id="smsCuerpo">
                     <div class="form-group">
                        <label for="numeroTlefonicoSMS">Número teléfonico</label>
                        <input type="text" class="form-control" id="numeroTlefonicoSMS" placeholder="888 999 80 80">
                     </div>
                     <div class="form-group">
                        <label for="textoSMS">Mensaje SMS</label>
                        <textarea class="form-control" id="textoSMS" placeholder="Escriba aquí el mesaje SMS..."
                           rows="3"></textarea>
                     </div>
                  </div>


               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-success" onclick="enviarSMS()">Enviar</button>
               </div>
            </div>
         </div>
      </div>



      <!-- Modal -->
      <div class="modal fade" id="modalConfiguracion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header bg-dark text-white">
                  <h5 class="modal-title" id="exampleModalLabel">Configuración</h5>
                  <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body text-left">
                  <div class="form-group">
                     <label for="versTip">Version de la tipificación</label>
                     <select onchange="cambiarConf()" class="form-control" id="versTip">
                        <option value="V1">Versión 1</option>
                        <option value="V2" selected>Versión 2</option>
                     </select>
                  </div>
                  <div class="form-group">
                     <label for="clienteAuto">¿Consultar persona automáticamente?</label>
                     <select onchange="cambiarConf()" class="form-control" id="clienteAuto">
                        <option value="true" selected>Si</option>
                        <option value="false">No</option>
                     </select>
                  </div>
                  <div class="form-group">
                     <label for="clienteAuto">Volumen de timbre</label>
                     <select onchange="cambiarVolumen()" class="form-control" id="volumenTimbre">
                        <option value="0.3">3</option>
                        <option value="0.4">4</option>
                        <option value="0.5">5</option>
                        <option value="0.6">6</option>
                        <option value="0.7">7</option>
                        <option value="0.8">8</option>
                        <option value="0.9">9</option>
                        <option value="1" selected>10</option>
                     </select>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
               </div>
            </div>
         </div>
      </div>


      <div style="display: none;">
         <input type="text" style="display: none;" id="txtDisplayName" value="">
         <input type="text" style="display: none;" id="txtPrivateIdentity" value="">
         <input type="text" style="display: none;" id="txtPublicIdentity" value="">
         <input type="password" style="display: none;" id="txtPassword" value="">
         <input type="text" style="display: none;" id="txtRealm" value="">
         <input type="text" style="display: none;" id="txtPhoneNumber" value="">
         <audio id="audio_remote" autoplay="autoplay"> </audio>
         <audio id="ringtone" loop src="sounds/telefono_tono.mp3"> </audio>
         <audio id="ringbacktone" loop src="sounds/ringbacktone.wav"> </audio>
         <audio id="dtmfTone" src="sounds/dtmf.wav"> </audio>
         <table style='width: 100%;'>
            <tr>
               <td id="tdVideo" class='tab-video'>
                  <div id="divVideo" class='div-video'>
                     <div id="divVideoRemote"
                        style='position:relative; border:1px solid #009; height:100%; width:100%; z-index: auto; opacity: 1'>
                        <video class="video" width="100%" height="100%" id="video_remote" autoplay="autoplay"
                           style="opacity: 0;
                     background-color: #000000; -webkit-transition-property: opacity; -webkit-transition-duration: 2s;"></video>
                     </div>
                     <div id="divVideoLocalWrapper" style="margin-left: 0px; border:0px solid #009; z-index: 1000">
                        <iframe class="previewvideo" style="border:0px solid #009; z-index: 1000"> </iframe>
                        <div id="divVideoLocal" class="previewvideo" style=' border:0px solid #009; z-index: 1000'>
                           <video class="video" width="100%" height="100%" id="video_local" autoplay="autoplay"
                              muted="true"
                              style="opacity: 0;
                        background-color: #000000; -webkit-transition-property: opacity;-webkit-transition-duration: 2s;"></video>
                        </div>
                     </div>
                     <div id="divScreencastLocalWrapper"
                        style="margin-left: 90px; border:0px solid #009; z-index: 1000">
                        <iframe class="previewvideo" style="border:0px solid #009; z-index: 1000"> </iframe>
                        <div id="divScreencastLocal" class="previewvideo" style=' border:0px solid #009; z-index: 1000'>
                        </div>
                     </div>
                  </div>
               </td>
            </tr>
         </table>
         <input type="button" class="btn" style="" id="btnFullScreen" value="FullScreen" disabled
            onclick='toggleFullScreen();' /> &nbsp;
      </div>

      <div id="timerParaFin">



      </div>
      <div id='divGlassPanel' class='glass-panel' style='visibility:hidden'></div>
      <input value="OBD" type="hidden" id="canalActual">
      <script src="js/socket.io.js"></script>
      <script src="js/pantallaAgente/llamada.js"> </script>
      <script src="js/timerBsw.js"> </script>
      <script src="js/pantallaAgente/cliente.js"> </script>
      <script src="js/pantallaAgente/funciones.js"></script>
      <script src="js/pantallaAgente/inicio.js"></script>
      <script src="js/pantallaAgente/modulos.js"></script>
      <script src="js/pantallaAgente/dragable.js"></script>
      <script src="js/pantallaAgente/crm.js"></script>
      <script src="js/pantallaAgente/chatMulticanal.js"></script>
      <script src="js/altaCita2.js"></script>
</body>